<%@page import="com.groupfour.daos.*,com.groupfour.models.*,java.util.*"%>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>仓库管理</title>
<link type="text/css" rel="stylesheet" href="../css/public.css">
<script type="text/javascript" src="../js/my.js"></script>
</head>
<script language="javascript" type="text/javascript">
        var popUp; 
		function openwin(idname)
		{
			popUp = window.open('date.html?formname=form1&id=' + idname,
			'选择日期',
			'height=180, width=200,left=300,top=150, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
		}

		function SetDate(id,newDate)
		{
			
			popUp.close();
			form1.elements[id].value = newDate;
		}

</script>
<body>
<table class="maintable" border="0" width="100%" cellspacing="0">
  <tr>
    <td background="../images/topBarBg.gif">仓库信息</td>
    <td width="20" height="23" background="images/topBarBg.gif"><div align="right"><a href="#"><img src="images/iHelp.gif" width="16" height="16" border="0"></a></div></td>
  </tr>
</table>


  <form action="../warehouse?action=delete" method="post">
  <input type="hidden" id="checked" name="checked">
    <table class="tablelistcontent" width="100%" border="1" cellspacing="1">
      <tr>
        <th width="24"><input type="checkbox" name="checkbox" id="all" value="checkbox" onClick="checkAll()"></th>
        <th width="133">仓库ID</th>
        <th width="136">仓库名称</th>
        <th width="168">仓库位置</th>
        <th width="158">仓库最大存储量</th>
        <th width="145">现有存储量</th>
        <th width="91">编辑</th>
      </tr>
      <%
      ResponsityDao responsitydao = new ResponsityDao();
      List list = responsitydao.getAllResponsity();
      ResponsityModel responsitymodel;
      for(int i=0;i<list.size();i++){
      	responsitymodel = (ResponsityModel)list.get(i);
      	%>
      	<tr class=Off onMouseOut="this.className='Off'" onMouseOver="this.className='Up'">
        <td height="24"><div align="center">
            <input type="checkbox" value="<%= responsitymodel.getResponsity_id() %>" name="dels" onClick="record()">
        </div></td>
        <td><div align="center"><%= responsitymodel.getResponsity_id() %><a href="viewuser.html"></a></div></td>
        <td><div align="center"><%= responsitymodel.getResponsity_name() %></div></td>
        <td><div align="center"><%= responsitymodel.getResponsity_location() %></div></td>
        <td><div align="center"><%= responsitymodel.getResponsity_max_number() %></div></td>
        <td><div align="center"><%= responsitymodel.getResponsity_now_number() %></div></td>
        <td><div align="center"><a href=""></a><a href="warehouseEdit.html?responsity_id=<%= responsitymodel.getResponsity_id()%>&responsity_name=<%= responsitymodel.getResponsity_name()%>&responsity_location=<%= responsitymodel.getResponsity_location() %>&responsity_max_number=<%= responsitymodel.getResponsity_max_number() %>"><img src="../images/edit.gif" width="16" height="19" border="0"></a> </div></td>
      </tr>
      <%
      }
      %>
    </table>
    <table width="100%">
    <tr>
      <td height="40" width="10"><div align="center"></div></td>
      <td width="50"><div align="center">
        <input type="submit" name="Submit" value="删除">
          </div></td>
      <td width="50"><div align="center">
        <input type="button" name="Submit" value="添加" onClick="window.location.href='warehouseAdd.html'">
      </div></td>
      <td width="86"><div align="center">
      </div></td>
      <td width="69"><div align="center">
      </div></td>
      <td width="69"><div align="center">
      </div></td>
      <td width="69"><div align="center">
	  </div></td>
      <td width="17"><div align="center"></div></td>
      <td width="19"><div align="center"><a href="listrole.do?page=1"><img src="../images/report/firstPage.gif" width="17" height="11" border="0"></div></td>
      <td width="19"><div align="center"><img src="../images/report/prePage.gif" width="14" height="11" border="0"></div></td>
      <td width="19"><div align="center"><img src="../images/report/nextPage.gif" width="14" height="11" border="0"></div></td>
      <td width="19"><div align="center"><a href="listrole.do?page=${pageSum}"><img src="../images/report/endPage.gif" width="17" height="11" border="0"></div></td>
      <td width="37"><div align="left"><a href="#">页次</a>:</div></td>
      <td width="37">&nbsp;</td>
      <td width="36"><div align="right">转至</div></td>
      <td width="35" align="center"><input name="go" type="text" size="2"></td>
      <td width="84" align="center"><input type="image" name="Submit2" src="../images/report/go.gif"></td>
	  <td width="0"></td>
    </tr>
</table>
  </form>
</body>
</html>
