<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <servlet-mapping>
  <servlet-name>jsp</servlet-name>
  <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>user</servlet-name>
  <servlet-class>com.groupfour.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>role</servlet-name>
  <servlet-class>com.groupfour.servlets.RoleServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>authority</servlet-name>
      <servlet-class>com.groupfour.servlets.AuthorityServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>responsity</servlet-name>
      <servlet-class>com.groupfour.servlets.ResponsityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>com.groupfour.servlets.CarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.groupfour.servlets.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FactoryServlet</servlet-name>
    <servlet-class>com.groupfour.servlets.FactoryServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>customer</servlet-name>
      <servlet-class>com.groupfour.servlets.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>returnservlet</servlet-name>
      <servlet-class>com.groupfour.servlets.ReturnServlet</servlet-class>
  </servlet>
  <filter>
      <filter-name>systemfilter</filter-name>
      <filter-class>com.groupfour.filters.SystemFilter</filter-class>
  </filter>
  <filter>
      <filter-name>responsityfilter</filter-name>
      <filter-class>com.groupfour.filters.ResponsityFilter</filter-class>
  </filter>
  <filter>
      <filter-name>countfilter</filter-name>
      <filter-class>com.groupfour.filters.CountFilter</filter-class>
  </filter>
  <filter>
      <filter-name>salefilter</filter-name>
      <filter-class>com.groupfour.filters.SaleFilter</filter-class>
  </filter>
  <filter>
      <filter-name>customfilter</filter-name>
      <filter-class>com.groupfour.filters.CustomFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>systemfilter</filter-name>
      <url-pattern>/user</url-pattern>
      <url-pattern>/role</url-pattern>
      <url-pattern>/authority</url-pattern>
  </filter-mapping>
  <servlet-mapping>
  <servlet-name>user</servlet-name>
  <url-pattern>/user</url-pattern>
  <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>role</servlet-name>
  <url-pattern>/role</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>authority</servlet-name>
      <url-pattern>/authority</url-pattern>
  </servlet-mapping>
   <filter-mapping>
      <filter-name>responsityfilter</filter-name>
      <url-pattern>/warehouse</url-pattern>
  </filter-mapping>
  <servlet-mapping>
      <servlet-name>responsity</servlet-name>
      <url-pattern>/warehouse</url-pattern>
  </servlet-mapping>
  <filter-mapping>
      <filter-name>salefilter</filter-name>
      <url-pattern>/OrderServlet</url-pattern>
      <url-pattern>/car</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/car</url-pattern>
  </servlet-mapping>
  <filter-mapping>
      <filter-name>customfilter</filter-name>
      <url-pattern>/FactoryServlet</url-pattern>
      <url-pattern>/customer</url-pattern>
      <url-pattern>/returnservlet</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>FactoryServlet</servlet-name>
    <url-pattern>/FactoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>customer</servlet-name>
      <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>returnservlet</servlet-name>
      <url-pattern>/returnservlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>
